// -------------------------------------
//   Skin
// -------------------------------------
// ----- Global skin classes (gradients, colors, box-shadows, etc).
// -------------------------------------
.yellow-bg {
  background: url('../imgs/wallpaper1.jpg') center center;
}

.blue-bg {
  background: url('../imgs/wallpaper2.jpg') center center;
}

.green-bg {
  background: url('../imgs/wallpaper3.jpg') center center;
}

.red-bg {
  background: url('../imgs/wallpaper4.jpg') center center;
}

.green2-bg {
  background: url('../imgs/wallpaper5.jpg') center center;
}

.main-animal-bg {
  background: url('../imgs/wallpaper6.jpg') center center;
}

.tiger-bg {
  background: url('../imgs/wallpaper7.png') center center;
}

